@mixin alert-box($border-color, $background-color) {
    background-color: $background-color;
    border: 2px solid $border-color;
    border-radius: 5px;
    padding: 10px;
}

@mixin alert-box-type($background-color) {
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    background-color: $background-color;
}

.alert-modal {
    .ERROR {
        @include alert-box(rgb(211, 4, 4), rgb(204, 161, 161));

        .type {
            @include alert-box-type(rgb(211, 4, 4));
        }
    }

    .SUCCESS {
        @include alert-box(rgb(79, 207, 164), rgb(200, 219, 219));

        .type {
            @include alert-box-type(rgb(84, 206, 145));
        }
    }

    .WARNING {
        @include alert-box(rgb(255, 187, 0), rgb(248, 223, 177));

        .type {
            @include alert-box-type(rgb(214, 145, 65));
        }
    }

    .title {
        color: black;
        font-weight: 800;
        font-size: medium;
    }

    .description {
        color: black;
    }

    .close {
        padding: 5px;
    }

    .rs-col {
        padding: 5px 10px;
        border-radius: 2px;
    }
}