@mixin no-scroll-bar {
    overflow-y: scroll;
    overflow-x: scroll; /* Add the ability to scroll the y axis */
    /* Hide the scrollbar for Internet Explorer, Edge and Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide the scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.default-layout {
    .rs-content {
        min-height: calc(100vh - 100px);
        padding: 15px;
    }
}

.auth-layout {
    .left-col {
        .custom-slider {
            height: calc(100vh - 120px);
            img {
                object-fit: cover;
                height: 100%;
                width: auto;
            }
        }
    }
    .right-col {
        height: calc(100vh - 120px);
        padding-top: 20px;
        padding-bottom: 20px;
        @include no-scroll-bar;
        #band-logo {
            width: 30%;
            margin: auto;
            display: flex;
        }
        .wrapped-comp {
            width: 80%;
            margin: auto;
        }
    }
}
